sudo: false
language: node_js
node_js:
- node
script:
- npm run lint
- npm run check
- npm run browsertest
- npm run coverage
dist: trusty
sudo: false
os: linux
addons:
  apt:
    packages:
      - xvfb
before_script:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
env:
  matrix:
    - secure: "qWnZ3qqPC7dNSO4/McwAthMjOQTzRNVIVhvDyf/b9w6YEutGeSk1TqAr95F/RkbSZp/1VDwYLqb8iqw5V6YboBhQ+aDcii15Jz38CWYPqryxokO3pxWqh/fuXKGsZWqv2Buh9kWh7WbSRxYb5dfAGWTbUa1y9EjneU8aCi6ggkSLMjVz/qk0ZOKAc8llwqfLAzZwWoM+hGv9ooaiOcgmdUa8QV7ciEGA6RTyivML9gGJ/rxYjI7iURQ4LguNxtNaoQ7Dj+XE8tJX5E1zCjYmjwLsZD3iAUEMJhq6MofEDKQbwIkFdln2Ngl++yhBnUCQTHU4dPvUEFl5fiTSdS83ISojUXKnJG4jF5HUICKjk6UO/yJgvQarQPRfxOm0DUa5B6Bha3C99wYDi6/a5gHbkBU6V7OU8l2PPWh/jtmSkdFnQp6eJyZdALB+0v+rG2Jjm08mxdhfuNh/gyK2S3wxwQivMFP4uSL2qfOltws2J/GyJf8lnKgZrPdceHibIeOTuPG0/PmCoTf3BhkpHW3sR2MtSRSEMkqKgAUSdEIfms2uUpGAbX864bsvYXheJ4p34tAk05vYijWOSEETLPMA5Ne+PtjrWXxyfW5NpJvPtM5YVAptjVftXN3JcsZrhtPnRWeEHGuDwZAwxuvJ8ZU1HtjJHppqcpnL9wvSGziUAow="
    - secure: "nB2RKmyYBil3Q5K6l69hx+ZFawW8uYS2c0uc3qYtA9tsJkAPY+nAlNci2apjUbL/3zAaxyBQjzDhSonAKyNdN1pqTMlYqoIa52jjCrPu1CTKrAimqMDtSaEyOOcMK8mtCfph/cvTCMu70cCiNIuGEoU2nGUf/CebuYBm9xGL2WIpKD/O2LdRdAdpqi0zVUgStFpnuRDDxLzvt76zWHEeagcx7vPuCLGfHMocn07f3mdT/OhlxdDPwyrJB7/3rxxiB/HyB2Jnc7uMmAbGHiLKUNQdjRLkvAzIusuNZKrBlHVf9DqbrWaPdZm3FmHTo4Mu1n724phqZBYeHAvGy8rhkkOgS4x9wALNar0UlEmhetVYd5rP+/K1Pzif4jU2zYshGCoYfHOyT4GHxII7Iq6b7ZBad28ZvDyBMbbnbAoIf70HUHyyPhQtGY0eT1LI3jW/+GhkZXCY6rG3CuG7Tioz3JzY5s4F2sVO1YxkHZ3FUqNZjbWfVgeRQ/1amvPn/u5G4R897OxdPhQhF0tBfdwK7yxvsafBBjslMe9NaFpL10zCeqGJ7cGxJ7+kdgi13zofswjwngUBEZ/JYapXRzLs6RtdAIAzh6K0rVv2PP2da/DqTVFa/+TPzb88uG7kCuNZSQgSuF8/vuo17Bb+7CS1bfrRbd7xnvV1P9+xFjSs4NI="
    - secure: "Aj+VsaLUiTwEEpASov5MPq+09TBOmIlojaEbCoGDqLxvzrzR0Dfa7LZiib4Ofa01dSqt9jamuCy8TTtaB3Vr6818McYLQG4enpRgL4nmEe0sxgPRuiSYkmUAFl8Q+gQSiW6bXGd/TGus/XQATYCaLTpld5nQUL9dBw8ytUfsk0hDTPJMV1Sjbrw8W8bYVfEC8Rnrqq7TMp3bcz2B9K/DO1mdFxiBM1sEKLe3L/yVHU0lKaskwPc+H0suV7BTRXj+8AHBYsm2WG9oRyxyQd+ndi50WD1lPz39n5UcoZEtFe9FRPx17jKfsIofvUryca18XwdKZV9NGEifgSFTOSi2c5Vwlm5nk6lPfc6/i/4FTLVG2QMH59eit6n+ZmoOi63AGZ+LOEQtdKwuwRFwG7YaPXH4X7OBg62uTAUBPT3eUmjE/Ere5kMUoMZtFYmMcssdyy1MvOsuD3V/L61Zl9A7Jqm4P9cTL214EIysfwIV3lVNzP3KV9YoF7urEyRbxpstXGwdOsLBYu/EYOJpesL5MUB6YqPM/kTBg6+cPjmCLXhI00Qd9FcXqVNP84tSrlzSEGUPLCCDyRn88xa5weIU1B+s23UoHhbiSzQhLlaEzWt0UdPil9l1oAcKLXc4HmY+2NN8t0DjojRe65i3tBUCl9wC+jJdpU0eeoybZadkiYs="
    - secure: "bqXWABH1oHcnSq+y2A1smDWwNHS5NKwFj15csRPuK+P/xlRJ0uuOvgnz5i3zLKbFX6LxRtE95ZlywM8BAjqhDhJPkf902fiexusZ91X7XHlA5AqMrFw8ruz9oG9addGdCu1/Zg6j2uUpSobNZNJIbLH0uDY3dFP2dlivTOO5au6BrUs1rVWrJl0OYwYTSEbW0l2TaUSlkuDm/ZJ08r/MHEeTeynu3vWEIzwpLMRWetxRVw0oUFjOzng0u1B2FMHQu3Db12YjhyH0mhP4tSyS0Rz1HLKjaQZzPrlg+ZohiqE42RSsA5s7qO8fy4scsdQN/FFEPgc9mRdi48MStBLh4xF63vYITGydhfUQgu049YyHiUhqxb9mWAYYrOfyUkpSZlc4qu3E5JkE7kHVxtA2UiuveibiqW1l805zdZ7yk3tHXpZ0Ts5JP+3FS5SAoVyBjGIE2OB0lvq3LAn6e5naUZH67y8Gr5tpwf1qIlEnGE3PROVIWJokUU5V5gYz7uR2Ca0JZT7Xm21s5eIDy1y+qYS2tYkwPO8e3uGTpgj/HRJ8jpk1pqOr5XL6uPg+x0DifgJ/Z28MlrSL0WkAMgtRHARMp9PmyvariXbCURnO/65Uar9bJ33rqiLBcRjqC2nf4WEwDjIazG9B/JH9idk3FoftXHRsLOUz3lQxy8mI+80="

before_deploy:
  - zip -q -r latest *
  - mkdir -p deploy_code_upload
  - "mv latest.zip deploy_code_upload/$TRAVIS_COMMIT.zip"

deploy:
  - provider: s3
    access_key_id: &access_key_id_staging
      secure: "0cUgenowgPhqwpSwnTbc3eITcLdKBzVKNy6RpFO23yj/V7CoJ6TbC2L1IutRwu4Pf5soQ4zOHcZ87WRA38BvUS9wjj4eUcplWgg6z9SrbomwfKKiUcXam9gQZd3Rlzi378Qi06ZkLiaHMZNeCEwGFDlZCJ5fc9ary5Pj5SokwFzt6hi7NdtEftdaLtGzN7YZhvDW5OYVXdzSkYOpSjXcU22HEU6uQ8RXocXRQSz0mxvbCGejHfTXCxfocFG2n0PHoslBdY9XLCEz4fih0RminpMLtGaNPtC4KlxiVNB3cdekT8yGFQdL4w8qy+PsUYyKZ9w6hYDyUWVe6I9MYCRS1/w7SLJ2raAEnR/i46RQ55jk8tXyj4/UqB/MysvhQ2/+EEg9eRaAFvLKOW6MtHsZGLoamHnCKqHgWz4G5xCKq4KHPubQAgAmqLPPlWHLpGpt52NOZWzhIu+X2x/Z2HFEQgEwqjdYs+Ht9ad4u9SzRQSOtHUlY30gzV41rpkSNTVKECwPnLuKIp7NZNfNqvCoAu3I3XXNpyMNM4jdm0qzdIVpJ0iBE84bo1jSOIrRoc1bP/BDApy6rWDr8kmf3RWEkKkz5dyy2dbS4t6LRvoVG7CoZ6DMR1ArMqsbAQufMuA8f7Lt1jJhS6S/XcXudb8WbkdJqz7AI+3bAuomKF4wPlk="
    secret_access_key: &secret_access_key_staging
      secure: "dh8nMWvu5r0kvy2dJQ8p2U3g8DjJwoiuvr2oxS4N2vRCId9tqLg9G0No68grakEpewhJUESuyf7ns729JZQPYQCtKoKqLEux0Ym+UujTNzcfma/YllUNMi81hMIaa8HQ0+O1j29sThlfaIaFc9zoho9D2CZw8ILDdGhJeShWgN82MyyX7t3lToNIvyIX+TN9ZrXmuWuvlFajJx5v5f1PKpclWiVqIr8prf1PRRkikNJE0fw/B5gUcVp2Fyhpr65YnZOGMsFL4pEzK5dXK0XJiBeT7gd3Tx5noEz1n1bWpuMrPhe77v4/nLCdrl+ytE8lNs7yqirgZ8lrl7LaJ/4WfakZtDFzNf9yvnkW4Gt0yom34U8VhZ0fGY1nDRrLFcYNv6h3XtacaWBg3xVsL5kz/EL/nnNYqOL+PoXH952oEMIpNRtglrggVnqcuvmuKueYUx5xmVh2BZ6LHjM7oLfYCD3P62AyxcDDT4UIL5RJRaLuahWjSiLl2fT5PLWdO3xISYo83L/k7Rp4iuHCNe/R6qmMaf5Vfc9XpCH4KEBDvzAr8KKg4VKQJ8F1hvm7Tr+AiUgIaAOj6ALo4QuXueIBK3hdSm2SyZ9NXrRhmluA7ChFdXhgPnHWOOYBFj5FzACz6kEewV1sek8I9dJoS6USaUU479RNRSwhuZR0AlAipUw="
    local_dir: deploy_code_upload
    skip_cleanup: true
    on: &deploy_on_staging
      branch: staging
    bucket: &s3_bucket_staging
      secure: "soPxr/H5fNiDNa4hppQOXdNG6qjPaw023MyQ55/jgYWhd5SoJ0D5azvF9Q5+JQMOT/dsofGQDKLtI7nEA9jBUVSyP7V+gx87ZcsoY7bDmzEaq3NY2xzRX0g30oZ7BHpgiknBL3OpqtyXgywVcpm80COb4w3f2v4kVvCm10b8cSwE1J/JLqcGSx70npTYMQE/g93exME5652vfFmDwluBc1qcoec6inceE/EbyXZpozqoiof08vJc+jLSlRIB2V2ylPJ8s9OGaYBe0YbpPsB281R2cRMwwjbxqP187z3FQIUvsVKx/K9HHeg13U+H8pGyawsUaIJTPRLKOypxcTNavopCpOSDAwR7nhnee1Xfc3t8znAtK+5THqMMjliBPTHUVenUDdGjSM8nyqaRdGD4PU4IeYXSkKyPqvh0S/5Dxi6VMkdNLlk2mVRVGGHkCbXTZjb8q2DRb+R4UPimfVaw6F0IIIXcHHp2JrbJ9tsedvubWGEH6P9wwxquw4sm3dsLIv8OrrCm9SHpaFkSUklXN62IIxGKmISe1O+DkFKFXQUs3LcIwJ02wcjjPJ9pf38KxAGpe+3yqiNGgmgN0XWKg3WwCx+fIDqTBweNplhMTMrLte+E5lz5hTbnFo9mFVUUMRRDMuH4gaCO2ZgDH4XCZYXDnju+gd/KB/SXZKIroX0="
    region: us-west-2
  - provider: codedeploy
    access_key_id: *access_key_id_staging
    secret_access_key: *secret_access_key_staging
    bucket: *s3_bucket_staging
    region: us-west-2
    key: "$TRAVIS_COMMIT.zip"
    bundle_type: zip
    application: &application_staging
      secure: "szhdBMyKVqnUl6PG3inA9APL1Fgeck8RcGYwhK1WlkmkdtMefAMpxVrC1hfJFM7uMIyZuQv58T8QDs+FtAvtBIaa7EUHgaVtjsjiRkJqZbnbRSTY2znfHjsmhXL20cMsvudLxKO1XFk798AgmQAaIQbB/NcaVWqI7M2C27p8f+JMtaKVKW0sX9i9MdaRM1UfynArcrfoVCNMGmjJb1hAy+a9QPfGcjVX26KEhEksYeiFxTvuk4LsWGs9gXxv9JTqENFkoXmCq/PVFH0x/+wY1ACNQTAm/bNzeXBqaqJEJ5NYscSrX9IogsjYrSXxe0h3d8QheYvejdnpyIWLI92sPmMAJtoTBAWI2NGymnywNYej153M5PJQkeMKbIaus+5fUKcrG7uHzSw/WDk5a6Nuo8XfsCpXxsZCZtGFmzQZUOkylvA1FK+mWp4gAoLXor2/hTx0jdJa9EQ5o2Nis4un9Rq+TCB9ymFxG/5OvHx7hoKu2sw9tLniXIMs19pyWl82+LXb4EspWV9v0ZuZHnfK+1Xmmx8QXfV0x1TN3huyQ5d0sTJw35muPNdXQFmCBBh3oEGK+0wrIjNtwP5f0Koqd/9D6DeFGltVMKOVUww4j8xukF3UNae/RpasKLXb5E1QoOldw5XiU5dSnwGIkULAk/8pG4sRabuYZCYGUOQYtGQ="
    deployment_group: *application_staging
    on: *deploy_on_staging
